<groot-darwin-page-title title="Groot AG-Grid demo"></groot-darwin-page-title>

<p>This is how a default, simple grid looks.</p>

<groot-ag-grid
  #table1
  class="mb-4"
  [columnDefs]="columns"
  [searchResultsData]="searchResultsData"
  (search)="search($event)"
  [defaultSort]="[{sortField: 'id', sortReversed: true}]"
></groot-ag-grid>

<ng-template #cellTemplate  let-row="row">
  <groot-button class="btn-sm btn-outline-primary" label="test" (click)="changeAge(row)"></groot-button>
</ng-template>

<p> This table shows various data types in our grid:</p>

<ul>
  <li>strings</li>
  <li>numbers</li>
  <li>booleans</li>
  <li>dates</li>
  <li>a custom template renderer.</li>
</ul>

<p>
  Please note that the grid pulls data whenever it needs them, by emitting the event <code>search</code>.
  This event is also emitted at the startup, so you should not run your search in <code>ngOnInit</code>.
  After you have the response, update your variable <code>searchResultsData</code> and the grid will refresh.
</p>

<h2>Selection</h2>

<p>Enabling selections of rows is easy. There are two modes: single or multiple. The grid will emit an event
  whenever the selection changes.</p>

<div class="buttons-list-left">
  <div class="btn-group" btnRadioGroup [(ngModel)]="selectionMode">
    <button class="btn btn-outline-primary" btnRadio="single">Single</button>
    <button class="btn btn-outline-primary" btnRadio="multi">Multiple</button>
    <button class="btn btn-outline-primary" btnRadio="multi-click">Multiple with clicks</button>
  </div>
  <groot-button label="Clear selection" (click)="gridSelection.clearSelection()"></groot-button>
</div>

<groot-ag-grid
  class="mt-4 mb-4"
  #gridSelection
  [hideTitleBar]="true"
  [columnDefs]="columns"
  [searchResultsData]="searchResultsData"
  (search)="search($event)"
  [checkboxSelection]="selectionMode === 'multi'"
  [headerCheckboxSelection]="selectionMode === 'multi'"
  [singleRowSelection]="selectionMode === 'single'"
  [rowMultiSelectWithClick]="selectionMode === 'multi-click'"
  (selectionChanged)="setSelection($event)"
  [lockPinned]="false"
></groot-ag-grid>

<h2>Accordions</h2>

<p>You can use a template to show an accordion with additional details for each row.</p>

<groot-ag-grid
  class="mb-4"
  #table2
  [hideTitleBar]="true"
  [columnDefs]="columns"
  [searchResultsData]="searchResultsData"
  (search)="search($event)"
  [accordionHeight]="30"
  [accordionTemplate]="accordionTemplate"
>
  <ng-template #accordionTemplate let-row>
    <p>Here you can show more details about the row. For instance, here we show {{row.name}}.</p>
  </ng-template>
</groot-ag-grid>

<h2>Action buttons</h2>

<p>You can show an "action button" on each row</p>

<groot-ag-grid
  class="mb-4"
  #table3
  [hideTitleBar]="true"
  [columnDefs]="columns"
  [searchResultsData]="searchResultsData"
  (search)="search($event)"
  [actionButtonTemplate]="actionsTemplate"
>
  <ng-template #actionsTemplate let-row>
    <groot-actions-button [insideTable]="true">
      <groot-actions-button-entry label="open"></groot-actions-button-entry>
      <groot-actions-button-entry label="remove"></groot-actions-button-entry>
      <groot-actions-button-entry label="send email"></groot-actions-button-entry>
    </groot-actions-button>
  </ng-template>
</groot-ag-grid>

<h2>Loading failed and more info</h2>

<p>You can show a "loading failed" by passing a <code>LoadingFailed</code> instance to the grid rather than the data:
</p>

<groot-ag-grid
  class="mb-4 mt-4"
  [hideTitleBar]="true"
  [columnDefs]="columns"
  [searchResultsData]="emptyData"
  (search)="searchEmptyData()"
></groot-ag-grid>

<groot-ag-grid
  class="mb-4 mt-4"
  [hideTitleBar]="true"
  [columnDefs]="columns"
  [searchResultsData]="loadingFailedData"
  (search)="searchLoadingFailed()"
></groot-ag-grid>

<p>You can also show a custom message by passing a <code>NoGridDataMessage</code> instance:</p>

<groot-ag-grid
  class="mb-4"
  [hideTitleBar]="true"
  [columnDefs]="columns"
  [searchResultsData]="alertData"
  (search)="searchAlertData()"
></groot-ag-grid>

<h2>Aligned grids</h2>

<p>You can set two grids to be aligned, meaning the columns have the same width and they scroll together.
  For more details, see
  <a target="_blank" href="https://www.ag-grid.com/javascript-grid-aligned-grids/">the AG-Grid documentation.</a>
</p>

<groot-ag-grid
  #alignedGrid1
  [hideTitleBar]="true"
  [columnDefs]="columns"
  [searchResultsData]="searchResultsData"
  (search)="search($event)"
  [alignedGrids]="[alignedGrid2]"
></groot-ag-grid>
<groot-ag-grid
  #alignedGrid2
  class="mb-4"
  [hideTitleBar]="true"
  [columnDefs]="columns"
  [searchResultsData]="searchResultsData"
  (search)="search($event)"
  [alignedGrids]="[alignedGrid1]"
></groot-ag-grid>

<h2>Grouped Headers</h2>

<p>You can group headers by using ColGroupDef when defining columns
  <a target="_blank" href="https://www.ag-grid.com/javascript-grid-grouping-headers/">the AG-Grid documentation.</a>
</p>

<groot-ag-grid
  class="mb-4"
  #table4
  [hideTitleBar]="true"
  [columnDefs]="columnsGroup"
  [searchResultsData]="searchResultsData"
  (search)="search($event)"
></groot-ag-grid>

<h2>Table headers and column selector</h2>

<p>You can show a table header and the column's selector window:</p>

<groot-ag-grid-table-header
  [gridData]="searchResultsData"
  [totalNumRecords]="searchResultsData ? searchResultsData.totalNumRecords : null"
  [selection]="selection"
  [actions]="tplHeaderActions"
  [actionsSelection]="tplHeaderSelectionActions"
  (clearSelection)="gridHeader.clearSelection()"
  (clickedColumnSelector)="showColumnSelector()"
>
  <ng-template #tplHeaderActions>
    <groot-ag-grid-table-action label="common.insert"></groot-ag-grid-table-action>
    <groot-ag-grid-table-action label="common.download"></groot-ag-grid-table-action>
  </ng-template>

  <ng-template #tplHeaderSelectionActions>
    <groot-ag-grid-table-action label="Download selected"></groot-ag-grid-table-action>
  </ng-template>
</groot-ag-grid-table-header>

<groot-ag-grid
  #gridHeader
  class="mb-4"
  [columnDefs]="columns"
  [searchResultsData]="searchResultsData"
  (search)="search($event)"
  [defaultSort]="[{sortField: 'id', sortReversed: true}]"
  [hideTitleBar]="true"
></groot-ag-grid>

<h2>Column header template</h2>

<p>Column headers can be customized by setting headerComponent and headerComponentParams.ngTemplate in the relative ColDef, and define a template

<pre><code>
&lt;ng-template #columnHeaderTemplate let-col="col"&gt;
  {{ "{{" }}col.headerName}}
  &lt;i class="fa fa-italic"&gt;&lt;/i&gt;
&lt;/ng-template&gt;
</code></pre>

<pre><code>

  @ViewChild('columnHeaderTemplate', {{ "{" }}static: true}) columnHeaderTemplate: TemplateRef&lt;any&gt;;

  ...

  columns: ColDef[] = [{{ "{" }}
    colId: 'name',
    field: 'name',
      headerComponent: 'headerTemplateRenderer',
      headerComponentParams: {{ "{" }} ngTemplate: this.columnHeaderTemplate}
    },
    ...
  ]
</code></pre>



<groot-ag-grid
  #gridHeader
  class="mb-4"
  [columnDefs]="customHeaderColumns"
  [searchResultsData]="searchResultsData"
  (search)="search($event)"
  [defaultSort]="[{sortField: 'grownUp', sortReversed: false}, {sortField: 'age', sortReversed: true}]"
  [hideTitleBar]="true"
></groot-ag-grid>

<ng-template #columnHeaderTemplate let-col="col">
  <i class="fa fa-star"></i>
  {{col.headerName}}
</ng-template>

<h2>Tree (Requires Ag-Grid Enterprise)</h2>

<p>Take a look at the source code for this page on GitLab and the
  <a href="https://www.ag-grid.com/angular-grid/tree-data/" target="_blank">Ag-Grid documentation</a>.
</p>

<p>
  You need to:
</p>

<ul>
  <li>pass in the <code>modules</code> input to the component an array of Ag-Grid enterprise modules,
    which must include at least <code>RowGroupingModule</code>;
  </li>
  <li>pass the function <code>getDataPath</code> - the behavior can be found in the Ag-Grid documentation;</li>
  <li>(optionally) define a <code>autoGroupColumnDef</code> - again, see the AG-Grid documentation.</li>
  <li>(optionally) pass the function <code>getRowNodeId</code> - this assigns an id to each data row and enables immutable data. See <code>getRowNodeId</code> and <code>immutableData</code> in the Ag-Grid documentation. </li>
</ul>

<groot-ag-grid-table-header
  [gridData]="searchResultsDataTree"
  [totalNumRecords]="searchResultsDataTree ? searchResultsDataTree.totalNumRecords : null"
  [actions]="tplHeaderActionsTree"
>
  <ng-template #tplHeaderActionsTree>
    <groot-ag-grid-table-action style="margin-right: auto" class="fa fa-refresh contrib-chk-box" (click)="searchTree()" aria-hidden="true">
    </groot-ag-grid-table-action>
  </ng-template>
</groot-ag-grid-table-header>
<groot-ag-grid
  [modules]="treeModules"
  class="mb-4"
  [columnDefs]="columnsTree"
  [searchResultsData]="searchResultsDataTree"
  [getDataPath]="getDataPath"
  (search)="searchTree()"
  [hideTitleBar]="true"
  [autoGroupColumnDef]="treeGroupColDef"
  [groupDefaultExpanded]="0"
  [getRowId]="getRowId"
></groot-ag-grid>
