groot-ag-grid-table-header .actions,
.groot-ag-grid-table-header .actions,
.actions.link-as-button-container {
  groot-ag-grid-table-action + groot-ag-grid-table-action {
    margin-left: $spacing-between-actions / 2;
    padding-left: $spacing-between-actions / 2;
    border-left: $action-separator-width solid $action-separator-color;
  }
}
