groot-ag-grid-columns-selector-modal {
  .help-text {
    $line-height-ht: 1rem;

    padding-top: 0;
    padding-bottom: 0;
    line-height: $line-height-ht;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 0;
      border-bottom: 1px solid $gray-darwin-border;
      margin-top: $modal-inner-padding;
    }

    i {
      $icon-dim: $line-height-ht + 0.1rem;
      margin-right: 0.5rem;

      color: $primary;
      text-align: center;
      width: $icon-dim;
      height: $icon-dim;
      border: 1px solid $primary;
      border-radius: 100%;
      padding: 0.1rem;
      vertical-align: bottom;
      font-size: $line-height-ht - 0.2rem;
    }
  }

  .columns-container {
    width: 50%;
  }

  .columns-separator {
    $separator-width: 2rem;

    width: $separator-width;

    &:before {
      content: '';
      display: block;
      border-left: 1px solid #cbcbcb;
      height: 32rem;
      margin-left: $separator-width / 2;
      margin-right: $separator-width / 2;
    }
  }

  .columns {
    width: 100%;
    height: 30rem;
    overflow-y: auto;

    padding: 0.5rem 0;
    list-style: none;

    li {
      padding: 0;
      margin-bottom: 2px;
      cursor: move;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $gray-darwin-bg;
      border: 2px solid $gray-darwin-border;

      &.element {
        border-style: solid;
      }

      &.empty {
        cursor: default;
        border-style: dashed;
      }
    }
  }
}
