@use "ag-grid-community/styles" as ag;

$table-header-background-color: $light-primary !default;
$table-header-foreground-color: color-contrast($table-header-background-color) !default;
$table-accordion-bg: $gray-300 !default;
$table-header-icon-color: $gray-800 !default;
$table-header-font-size: 0.925em !default;
$table-checkbox-size: 15px;

$ag-suppress-legacy-var-import: true;

@include ag.grid-styles((theme: balham,
  balham-active-color: $primary,
  odd-row-background-color: $white,
  font-family: $font-family-sans-serif,
  font-size: $font-size-base,
  border-color: $table-border-color,
  header-background-color: $table-header-background-color,
  header-foreground-color: $table-header-foreground-color,
  secondary-foreground-color: $table-header-icon-color,
  selected-row-background-color: $lighter-primary,
  header-column-separator-color: $table-header-column-separator-color,
));

.ag-grid-rows-clickable .ag-row {
  cursor: pointer;
}

.ag-theme-balham .ag-row {
  &.accordion-expanded {
    background-color: $table-accordion-bg;
    border-bottom: 0;
  }

  &.accordion-row {
    background-color: $table-accordion-bg;
    border-top: 0;
  }
}

.ag-header-row {
  font-size: $table-header-font-size;
}

.ag-cell {
  &.ag-cell-right {
    display: block;

    .ag-cell-wrapper {
      justify-content: flex-end;

      .ag-cell-value {
        flex-grow: 0;
      }
    }
  }

  &.ag-cell-center {
    display: block;

    .ag-cell-wrapper {
      justify-content: center;

      .ag-cell-value {
        flex-grow: 0;
      }
    }
  }

  .ag-cell-wrapper {
    height: 100%;
  }

  .ag-cell-height-100 {
    height: 100%;
  }

  .ag-cell-wrapper .ag-cell-value ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.groot-paginator-hidden {
  visibility: hidden;
}

groot-ag-grid {
  display: block;

  .groot-header-checkbox-cell.ag-header-cell {
    padding-left: 7px;
  }

  .groot-checkbox-cell.ag-cell,
  .groot-accordion-icon-cell.ag-cell {
    padding: 0 6px;
  }

  .groot-action-button-cell.ag-cell {
    padding: 0;
  }

  .ag-theme-balham .ag-checkbox-input-wrapper {
    // Checkbox

    &:focus-within {
      box-shadow: none;
    }

    &.ag-checked::after, &.ag-indeterminate::after {
      content: "";
      background: transparent;
    }

    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    --bs-form-indeterminate-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath stroke='%23FFFFFF' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' d='m 5 10 h 10 z'/%3e%3c/svg%3e");

    &.ag-checked {
      background-color: $primary;
      border-color: $primary;
      background-image: var(--bs-form-check-bg-image);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &.ag-indeterminate {
      background-color: $primary;
      border-color: $primary;
      background-image: var(--bs-form-indeterminate-bg-image);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .ag-theme-balham .ag-layout-auto-height .ag-center-cols-clipper,
  .ag-theme-balham .ag-layout-auto-height .ag-center-cols-container,
  .ag-theme-balham .ag-layout-print .ag-center-cols-clipper,
  .ag-theme-balham .ag-layout-print .ag-center-cols-container {
    min-height: 5rem;
  }

  .communityTreeIcon {
    padding: .8rem;
    font-size: x-small;
  }
}

.groot-loading-indicator-spinner.no-left-margin {
  left: auto;
}
