<div class="jumbotron">
  <h1 class="display-4">GRooT Ag Grid</h1>
  <p class="lead">Wrapper for AgGrid</p>
  <hr class="my-4">
  <p>
    This library is a simple wrapper around the <a href="https://www.ag-grid.com/" target="_blank">ag-grid</a> library,
    that simplifies usage with
    <a href="http://groot-lib-groot.192.168.232.45.nip.io/groot-doc" target="_blank">Groot</a>
    and offers various common utilities.
  </p>
</div>

<h1>Getting started</h1>

<p>Use the menu bar to access the various samples.</p>

<p>Assuming you already have installed Groot in your project, you need to install the library:</p>

<pre><code>npm install @listgroup/groot-ag-grid ag-grid-angular ag-grid-community</code></pre>

<p>In your angular module you will need to add a dependency on <code>GrootAgGridModule</code>.</p>

<p>In your main scss file, after having included Groot, add</p>

<pre><code>@import "~@listgroup/groot-ag-grid/style/groot-ag-grid.component";</code></pre>

<h1>Project references</h1>

<ul>
  <li>
    GitLab:
    <a href="https://gitlab.list-group.com/isp-bu/libs/isp.groot-ag-grid">https://gitlab.list-group.com/isp-bu/libs/isp.groot-ag-grid</a>
  </li>
  <li>
    Jira:
    <a href="http://jira.list-group.com/secure/RapidBoard.jspa?rapidView=294&projectKey=ISPGROOT">http://jira.list-group.com/secure/RapidBoard.jspa?rapidView=294&projectKey=ISPGROOT</a>
  </li>
</ul>
