$table-header-bg: $gray-darwin-bg-dark;
$table-border-color: $gray-darwin-border;
$table-header-background-color: $table-header-bg;
$table-header-icon-color: black;
$table-header-column-separator-color: $gray-darwin-border;
